.conteudo_principal_ramens{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.conteudo_principal_ramens-container{/*carrossel aqui*/
    overflow-x: hidden;
    display: flex;
    max-width: 65vw;
}
.conteudo_principal_ramens-container-caixa{
    max-width: 20vw;
    height: auto;
    border: 1px solid black;
    flex: 0 0 auto; 
    text-align: center;
    margin: 0 1vw;
    box-sizing: border-box;
}
.conteudo_principal_ramens-container-caixa .ramens-caixa-titulo{
    display: inline-block;
}
.conteudo_principal_ramens-container-caixa .ramens-caixa-imagem{
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
}
.conteudo_principal_ramens-container-caixa .ramens-caixa_preco{
    display: inline-block;
}



.scrollbar{
    display: block;
    text-align: center;
    padding: 10px;
}
.botao-carousel{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.botao-carousel.ativo{
    background-color: black;
}