.formulario-principal fieldset{
    display: flex;
    flex-wrap: wrap;
}
.formulario-principal fieldset label{
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 110px;
    text-align: center;
}
.formulario-principal fieldset label::before{
    content: "\A";
    white-space: pre-wrap;
    display: block;
    width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    margin-right: 8px;
}

.escolha-carne--chashu::before{
    background-image: url('../../img/ingredientes/chashu.avif');
}
.escolha-carne--nitamago::before{
    background-image: url('../../img/ingredientes/Nitamago.avif');
}
.escolha-carne--frango::before{
    background-image: url('../../img/ingredientes/frango.jpg');
}
.escolha-carne--bacon{
    max-width: 100px;
}
.escolha-carne--bacon::before{
    background-image: url('../../img/ingredientes/bacon.jpg');
}
