.container-total{
    flex: 1;
    min-height: 100%;
    background-color: var(--branco);
    padding: 8px;
    box-sizing: border-box;
}
.container-total__titulo{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}