.compra{
  width: 80vw;
  height: 70vh;
  position: absolute;
  top: calc(50% - 35vh);
  left: calc(50% - 40vw);
  z-index: 999;
  background-color: var(--branco);
  box-shadow: 0px 0px 4px 4px var(--shadow);
  /*display: none;*/
}
.compra-bg{
  width: 100vw;
  height: 100vh;
  background-color: #0000008a;
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  /*display: none;*/
}