.cabecalho-principal{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}



.cabecalho-principal__titulo{
    font-size: 30px;
    color: #eee;
    margin-left: 10px;
    display: inline-block;
    padding: 10px;
}
.cabecalho-principal__titulo-content{
    display: block;
}
.cabecalho-principal__titulo-content:before{
    content: "";
    display: inline-block;
    width: 50px;
    min-height: 30px;
    background-image: url('../../img/webp/Item_Ramen_Tonkotsu.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    margin-right: 8px;
}



.cabecalho-principal__nav{
    width: 60%;
    display: flex;
    align-items: center;
}

.cabecalho-principal__nav-lista{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cabecalho-principal__nav-lista-item{
    display: inline;
}

.cabecalho-principal__nav-lista-link{
    text-decoration: none;
    color: #eee;
    padding: 10px;
    background-color: red;
    display: block;
    font-weight: bold;
    margin: 0px 10px;
    border-radius: 5px;
}